
#money_account{
padding: 30px;
}
#money_account h1{
    margin-bottom: 20px;
}

/* #######################################
from style start
####################################### */
.form_part{
margin-left: 30px;
background: #F8F8F8;
padding-top: 65px ;
padding-bottom: 35px;
}
.input_part .input_section {
    padding-right: 100px;
}
.form_part label{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}
.form_part input{
    border:#DCDCDC ;
    display: inline-block;
    width: 230px;
    line-height: 43px;
    background: #DCDCDC;
    margin-bottom: 20px;
    text-align: center;
}
.form_part input:focus-visible{
border: none;
}
.form_part a{
    width: 196px;
    text-align: center;
    line-height: 50px;
    background: #59A5FF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
   

}
.form_part h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px; 
    color: #000000;
    margin:15px 0;
}
#save{
    width: 130px;
    display: inline-block;
    text-align: center;
}
.save_button{
    display: inline-block;
    width: 173px;
}
/* #######################################
from style end
####################################### */
.img_part img {
    height: 874px;
}
